# Environment
NODE_ENV=development
NEXT_TELEMETRY_DISABLED=1

# API Endpoints & token
NEXT_PRIVATE_API_AUTH_TOKEN=superAPIAuthTokenExample
NEXT_PUBLIC_API_URL=https://api.staging.mon-devis-sans-oublis.beta.gouv.fr

# Matomo Analytics
NEXT_PUBLIC_MATOMO_SITE_ID=
NEXT_PUBLIC_MATOMO_URL=

# Sentry Configuration (error tracking)
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_ORG=
NEXT_PUBLIC_SENTRY_PROJECT=
NEXT_PUBLIC_SENTRY_URL=

